.admin-content{
    width: 100%;
    min-height: calc(100% - 100px);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.admin-content__middle{
    flex-basis: 100%;
    width: 80%;
    min-height: 30%;
    margin: 5rem auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    z-index: 2;
}

.admin-title__content{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.admin-title__content .btn-new-product{
    width: 200px;
    margin: 1.5rem 0;
  border: 2px solid #dace4d;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.btn-new-product:hover {
    cursor: pointer;
    color: black;
    background-color: #fff159;
    border: 1px solid #ccc147;
    transform: scale(1.05);
  }
  
  .btn-new-product:active {
    transition: all 0.2s ease-out;
    transform: scale(0.98);
  }

.admin-panel{
    width: 100%;
    flex-basis: 70%;
}

.admin-panel__table{
    max-height: 50%;
    overflow-x: scroll;
    background-color: white;
}

.table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;
    text-align: center;
}

.table tr{
    height: 40px;
}

table tr:nth-of-type(2n){
    background-color: aliceblue;
}

.table thead{
    background-color: #fff159;
}

.admin-img{
    width: 70%;
    /* height: 150px; */
    position: absolute;
    bottom: -5%;
}

.footer{
    flex-basis: 100%;
    height: 100px !important;
    background-color: #fff159;
    text-align: center;
    padding-top: 3rem;
}


/*CONTENIDO NO SESION*/

.no-session-content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.no-session-content p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
}

.no-session-content img{
    width: 80%;
    margin: 0 auto;
}

/*CONTENIDO NO PRODUCTOS*/

.no-product-content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.no-product-content p {
    /* text-align: center; */
    margin-bottom: 2rem;
}

.no-product-content img{
    width: 100%;
    animation: notProducts 3s infinite;
}


.boton-editar{
    border: 1px solid #69657F;
    padding: 0.3rem;
    background: transparent;
    color: #000;
    border-radius: 5px;
}

.boton-editar:hover{
    background: #69657F;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.boton-eliminar{
    border: 1px solid #D50000;
    padding: 0.3rem 0.4rem;
    background: transparent;
    color: #000;
    border-radius: 5px;
}

.boton-eliminar:hover{
    background: #D50000;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

/*MEDIA QUERIES*/

@media (min-width:425px) {
    .admin-img{
        width: 350px;
    }
    .no-product-content img{
        width: 200px;
    }
}

@media (min-width:768px) {
    .admin-panel__table{
        overflow-x: visible;
    }
    .admin-img{
        width: 70%;
        top: -80px;
    }

    .no-session-content{
        padding-top: 2rem;
    }

    .no-session-content img{
        width: 400px;
        margin: 0 auto;
    }
}

@media (min-width:1024px) {
    .admin-img{
        width: 600px;
        right: 10%;
    }
}

@media (min-width:1440px) {
    .admin-img{
        width:750px;
        top: -100px;
    }
}

/*ANIMACION*/

@keyframes notProducts {
    0%{
        opacity: 1;
        transform: scale(1.05);
    }
    50%{
        opacity: 0.7;
        transform: scale(1);
    }
    100%{
        opacity: 1;
        transform: scale(1.05);
    }
}